<div class="registration-container">
  <h2>Complete Registration</h2>
  <div class="form-group">
    <label for="username">Choose a username:</label>
    <input
      id="username"
      type="text"
      [formControl]="usernameControl"
      class="form-control"
      placeholder="Enter username"
      #usernameInput
      (keyup)="emitUsername(usernameInput.value)"
    />
    @if(errorMessage && usernameControl.value){
      <div class="error-message">
        {{errorMessage}}
      </div>
    }
    @if(!usernameControl.valid && usernameControl.dirty){
      <div class="error-message">The username needs to have at least 5 characters.</div>
    }
  </div>
  <button
    (click)="onRegister()"
    [disabled]="!isValid || !usernameControl.valid"
  >
    Register
  </button>
</div>
