@import "knowledgebase/src/variables";

.snippet-container {
  position: relative;
  max-width: 500px;
  min-width: 300px;
  border: 1px black solid;
  border-radius: $border-radius;
  padding: 0.5rem;
  &:hover .control-icons {
    display: initial;
  }
}

h5 {
  margin-top: 0;
  margin-bottom: 1em;
}

.control-icons {
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;

  button {
    background: #ccc;
    line-height: 1em;
    padding: 3px;
    margin-left: 3px;
    border-radius: $border-radius;

    span {
      font-size: 1.25rem;
    }
  }
  .delete-snippet {
    color: #e40000;
  }
}

.snippet-content ::ng-deep pre {
  padding: 0.5rem;
  border-radius: $border-radius;

  //hide scrollbar:
  &::-webkit-scrollbar{
    display: none; // Safari, Chrome
  }
  -ms-overflow-style: none;  // Internet Explorer 10+
  scrollbar-width: none;  // Firefox
}

.snippet-content ::ng-deep pre:last-child {
  border-radius: 0 0 $border-radius $border-radius;

  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
}
