$border-radius: 3px;
$media-query: 768px;

//inspired from https://themes.getbootstrap.com/preview/?theme_id=4974
$background-dark: #2d2d2d;//#343a40;
$background-dark-hover: #414141;

$background-light: #f8f8f8; //#f8f9fa;
$border-grey: #a3a3a3;

$blue-light: #5b93ff;

$orange: #ff8800;
