@use "../../../../variables" as variables;

.burger-menu {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px;
  margin-right: 8px;
  font-size: 24px;

  &:hover {
    background: variables.$background-dark-hover;
  }
}

header {
  height: 50px;
  padding: 0;
  background: variables.$background-dark;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#logo {
  width: 250px;
  padding: 0;// 1rem;
  box-sizing: border-box;
}

img {
  height: 40px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px;
  margin-left: 5px;
}

.justify-between {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  column-gap: 2px;
}

.active .mobile {
  color: variables.$blue-light;
}

.nav-item {
  display: flex;
  align-items: center;
  a {
    color: white;
    padding: 0.5em;
    text-decoration: none;
  }
  a.desktop {
    padding-left: 0;
  }
  &.active a {
    color: variables.$blue-light;
    // todo border-bottom
  }
  &.active, &:hover {
    background: variables.$background-dark-hover;
  }
}

.header-right {
  display: flex;
}

@media (max-width: variables.$media-query) {
  img {
    margin-left: 0;
  }
  .burger-menu {
    display: block;
    margin-right: 5px;
  }
  #logo {
    width: 70px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
}
