@use "../../../../variables" as variables;

.burger-menu {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px;
  margin-right: 8px;
  font-size: 24px;

  &:hover {
    background: variables.$background-dark-hover;
  }
}

@media (max-width: variables.$media-query) {
  .burger-menu {
    display: block;
  }
}

header {
  height: 50px;
  padding: 0;
  background: variables.$background-dark;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#logo {
  width: 250px;
  padding: 0;// 1rem;
  box-sizing: border-box;
}

img {
  height: 50px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px;
  margin-left: 3px;
}

.justify-between {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  column-gap: 5px;
}

a {
  color: white;
  padding: 1em;
  text-decoration: none;
  &.active {
    color: variables.$blue-light;
    // todo border-bottom
  }
  &:hover {
    background: variables.$background-dark-hover;
  }
}

.header-right {
  display: flex;
}
