.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 2rem;
}

span {
  margin-bottom: 1rem;
}

button {
  padding: 0.5em;
  &.btn-sm {
    padding: 0.5em;
    width: 75%;
  }
}
