<div class="login-page">
  <h1>Login</h1>

  <div>
    <form action="">
      <div class="row">
        <label for="userName">Username</label>
        <input type="text" name="userName" placeholder="userName" id="userName">
      </div>
      <div class="row">
        <label for="password">Password</label>
        <input type="text" name="password" placeholder="password" id="password">
      </div>
      <div class="row flex-center">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
