<div class="flex-col">
  <h1>Login</h1>

  <div class="flex-col">
    @if(redirectedFromRegistration){
      <span  class="registration-success">Your registration was successful. Please login to get started.</span>
    } @else {
      <span style="max-width: 450px; text-align: center;">By registering, you acknowledge this site is in beta. There is no guarantee of data security, availability, or functionality. Use at your own risk. No liability for damages will be accepted.</span>
      <span>Create an account or sign in with your Google account:</span>
    }
    <button (click)="loginByGoogle.emit()">Sign in with Google</button><br>
  </div>
</div>
