@use "knowledgebase/src/variables" as variables;

.editor {
  position: sticky;
  top: 0;
  z-index: 3;
  background: variables.$background-light;
  padding-bottom: 0.5rem;

  & input {
    margin-bottom: 0.5rem;
    font-size: 1.5em;
    border: 1px variables.$border-grey solid;
    border-radius: variables.$border-radius;
  }
  button.snippet-public {
    margin-left: 0.5em;
    font-size: 1.5em;
  }
  md-editor ::ng-deep .preview-panel {
    white-space: break-spaces;
  }
}

.action-bar {
  display: flex;
  column-gap: 0.5em;
  button {
    padding: 0.25em 0.5em;
  }
}

#add-snippet-btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  padding: 0.5em;
  z-index: 3;
}

@media (max-width: variables.$media-query) {
  app-search ::ng-deep input {
    max-width: 60vw;
  }
}

.loading-more {
  text-align: center;
  padding: 1rem;
  color: #666;
  font-style: italic;
}

.scroll-sentinel {
  width: 100%;
  height: 20px;
}

.masonry-item {
  width: 400px;
  margin-right: 1rem;
  margin-bottom: 1rem;

  &.active {
    animation: highlight-yellow 1.5s ease;
  }
}


@keyframes highlight-yellow {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: rgba(255, 235, 59, 0.5);
  }
  100% {
    background-color: inherit;
  }
}
