.editor {
  margin-bottom: 1rem;
  & input {
    margin-bottom: 0.5rem;
  }
}

.snippets-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.action-bar {
  display: flex;
  column-gap: 0.5em;
}
