<button id="add-snippet-btn" *ngIf="!addSnippet && !editingSnippet" (click)="addSnippet = !addSnippet">add Snippet</button>

<div class="editor">
  <input type="text" *ngIf="addSnippet || editingSnippet" placeholder="title" [(ngModel)]="newSnippetTitle">
  <md-editor
    *ngIf="addSnippet || editingSnippet"
    [(ngModel)]="newSnippetContent"
  />
  <div class="action-bar" *ngIf="addSnippet">
    <button (click)="saveSnippet()" class="primary">save</button>
    <button (click)="resetState()">cancel</button>
  </div>
  <div class="action-bar" *ngIf="editingSnippet">
    <button (click)="doEditSnippet()" class="primary">edit</button>
    <button (click)="resetState()">cancel</button>
  </div>
</div>

<div class="search-container">
  <input type="text" id="search-input" #searchInput placeholder="search">
</div>

<div class="snippets-container">
  <app-snippet *ngFor="let snippet of snippets"
               [snippet]="snippet"
               (editSnippet)="startEditingSnippet($event)"
               (deleteSnippet)="this.deleteSnippet.emit($event)"
  />
</div>
