@if((notificationService.notifications$ | async)?.length > 0){
  <app-notification
    [notifications]="notificationService.notifications$ | async"
    (close)="notificationService.remove($event)"
    (clearAll)="notificationService.clear()"
  />
}

<app-header
  [isLoggedIn]="authService.isLoggedIn$ | async"
  [currentPath]="currentPath$ | async"
  (logout)="loginService.logout()"
  (toggleSidenav)="toggleSidenav()"
/>

<div class="main-wrapper">
  <nav [class.hideNav]="appService.hideNav$ |async">
    <app-sidenav-container />
  </nav>

  <main>
    <router-outlet />
  </main>
</div>

<app-context-menu></app-context-menu>
