@if((notificationService.notifications$ | async)?.length > 0){
  <app-notification
    [notifications]="notificationService.notifications$ | async"
    (closed)="notificationService.remove($event)"
    (clearAll)="notificationService.clear()"
  />
}

<app-header
  [isLoggedIn]="authService.isLoggedIn$ | async"
  [currentPath]="currentPath$ | async"
  [communityUserName]="communityUserName$ | async"
  (logout)="loginService.logout()"
  (toggleSidenav)="toggleSidenav()"
/>

<div class="main-wrapper">
  <nav [hidden]="appService.hideNav$ |async">
    @if (authService.isLoggedIn$ |async) {
      <app-sidenav-container/>
    } @else {
      <app-demo-sidenav-container/>
    }
  </nav>

  <main>
    <router-outlet />
  </main>
</div>

<app-context-menu></app-context-menu>
