ul {
  padding: 0;
  li {
    list-style: none;
    padding: 1em;
    margin-bottom: -1px;
    background: #ccc;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    cursor: pointer;
    white-space: nowrap;
    &:hover {
      background: #a6a6a6;
    }
    &.active {
      background: #0000b7;
      color: white;
    }
  }
}

.add-folder {
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.new-folder-wrapper, .add-folder {
  //todo make width auto
  width: 250px;
}
.new-folder {
  margin: 0.25rem;
  background: #ff8800;
}
