<div class="add-folder">
  <div *ngIf="!showAddFolderInput && !allowMoveFolders">
    <button (click)="showAddFolderInput = true">Add folder</button>
    <button (click)="doAllowMoveFolders()">Move folders</button>
  </div>
  <ng-container *ngIf="showAddFolderInput">
    <input type="text"
           placeholder="folder-name"
           [(ngModel)]="folderNameToAdd"
           (keydown.enter)="addFolderDragItem()"
           (keydown.escape)="showAddFolderInput = false"
           [disabled]="!!folderToDrag || folderPlaced"
    >
    <button (click)="addFolderDragItem()" [disabled]="!!folderToDrag || folderPlaced">+</button>
  </ng-container>
  <ng-container *ngIf="allowMoveFolders">
    <button (click)="cancelMovingFolders()">Cancel</button>
    <button class="primary" (click)="saveMovedFolders()">Save moved folders</button>
  </ng-container>
</div>
<div *ngIf="folderToDrag" class="new-folder-wrapper">
  <p>Place the new folder at the location you want and click on save</p>
  <div [treeDrag]="folderToDrag" [treeDragEnabled]="true" class="node-content-wrapper new-folder">{{folderToDrag.name}}</div>
</div>
<div *ngIf="folderPlaced" class="new-folder-wrapper">
  <p>Click on save when the folder is placed at the right location</p>
  <button (click)="saveAddedFolder()">save</button>
</div>

<tree-root
  [nodes]="navItems"
  [options]="treeOptions"
  (activate)="setSelectedItem($event)"
  (deactivate)="setSelectedItem($event)"
  (moveNode)="onMoveNode($event)"
>
  <ng-template #treeNodeWrapperTemplate let-node let-index="index">
    <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
      <tree-node-expander [node]="node"></tree-node-expander>
      <div class="node-content-wrapper"
           [class.node-content-wrapper-active]="node.isActive"
           [class.node-content-wrapper-focused]="node.isFocused"
           [class.adding]="node.id === -1"
           [class.isMoved]="node.data.isMoved === true"

           (click)="node.mouseAction('click', $event)"
           (dblclick)="node.mouseAction('dblClick', $event)"
           (contextmenu)="node.mouseAction('contextMenu', $event)"
           (treeDrop)="node.onDrop($event)"
           [treeAllowDrop]="node.allowDrop"
           [treeDrag]="node"
           [treeDragEnabled]="node.allowDrag()">

        <!-- *ngIf on node.id or sth like that and switch between tree-node-content and own stuff -->
        <span *ngIf="node.data.isFolder && node.isCollapsed" class="folder-icon material-icons-outlined">folder</span>
        <span *ngIf="node.data.isFolder && !node.isCollapsed" class="folder-icon material-symbols-outlined">folder_open</span>
        <tree-node-content [node]="node" [index]="index"></tree-node-content>
        <span style="font-size: 8px">{{node.id}}</span>
        <!--<div *ngIf="node.id === -1">
          <input type="text"><button>+</button>
        </div>-->
      </div>
    </div>
  </ng-template>
</tree-root>
